@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        
        <h1 style="margin-top: 150px;" class="display-4">Welcome</h1>
        <br />
        <h2>Create or Join a Course with Course Management System</h2>
        <p style="margin-top:50px;">Login to Start Using CMS</p>
        <a style="margin-left:7px; margin-right:7px;" type="submit" class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>        
        
</div>
